<%= link_to root_path  do %>
  <i class="far fa-arrow-alt-circle-left fa-4x"></i>
<% end %>
<div class="show-container">  
  <div class="details">
    <h1>Name: <%= @recipe.name %></h1>
    <h2>Zutaten: <%= @recipe.ingredients %></h2>
    <h2>Bewertung: <%= @recipe.rating %></h2>
  </div>

  <!-- <%= render 'shared/card' %> -->
</div>


