<%= link_to root_path  do %>
  <i class="far fa-arrow-alt-circle-left fa-4x"></i>
<% end %>
<div class="show-container">  
  <div class="details">

    <div class="nameAndRating">
      <h4><%= @recipe.name %></h4>
      <%= render 'rating/rating_logic' %>
    </div>

    <div class="row">
      <div class="col-sm firstColumn">
        <h5>Zutaten: <%= @recipe.ingredients %></h5>
      </div>
    </div> 

    <h5 class="mt-5">Zubereitung</h5>

    <div class="row">
      <div class="col-sm firstColumn">
      </div>
      <div class="col-sm secondColumn">
      </div>
    </div> 

  </div>
  <!-- <%= render 'shared/card' %> -->
</div>


