<%= link_to root_path  do %>
  <i class="far fa-arrow-alt-circle-left fa-4x"></i>
<% end %>
<div class="show-container">  
  <div class="details">

    <div class="nameAndRating">
      <h2><%= @recipe.name %></h2>
      <% if @recipe.rating == 0 %>
        <%= render 'shared/rating0' %>
      <% elsif @recipe.rating == 1%>
        <%= render 'shared/rating1' %>
      <% elsif @recipe.rating == 2%>
        <%= render 'shared/rating2' %>
      <% elsif @recipe.rating == 3%>
        <%= render 'shared/rating3' %>
      <% elsif @recipe.rating == 4%>
        <%= render 'shared/rating4' %>
      <% elsif @recipe.rating == 5%>
        <%= render 'shared/rating5' %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm firstColumn">
        <h4>Zutaten: <%= @recipe.ingredients %></h4>
      </div>
    </div> 

    <h3 class="mt-5">Zubereitung</h3>

    <div class="row">
      <div class="col-sm firstColumn">
      </div>
      <div class="col-sm secondColumn">
      </div>
    </div> 

  </div>
  <!-- <%= render 'shared/card' %> -->
</div>


