<%= link_to root_path  do %>
  <i class="far fa-arrow-alt-circle-left fa-4x"></i>
<% end %>
<div class="show-container">  
  <div class="details">
    <h2><%= @recipe.name %></h2>
    <h5 class="rating">Bewertung: <%= @recipe.rating %></h5>
    <div class="ingredients">
      <h3>Zutaten: </h3>
      <h3><%= @recipe.ingredients %></h3>
    </div>
    
    
  </div>

  <!-- <%= render 'shared/card' %> -->
</div>


